*,
*::before,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background-color: #1f2937;
}

/* flex containers */

.color-container {
  display: flex;
}

.color {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  object-fit: cover;
  overflow: hidden;
  padding: 0;
  padding-bottom: 2em;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}

form {
  display: flex;
  gap: 2em;
  padding: 2em;
}

/* image */

.color img {
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: auto;
  opacity: 0.95;
}

/* form */

input {
  width: 100px;
  align-self: center;
  height: 6vh;
  padding: 0;
  border: none;
  background-color: #1f2937;
}

select {
  border: solid 1px gray;
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 0;
  width: 500px;
  color: whitesmoke;
  background-color: #1f2937;
  font-weight: 400;
}

button {
  border: none;
  padding: 1.5em 1.75em;
  font-weight: bold;
  border-radius: 5px;
  background-color: #3d4b60;
  color: whitesmoke;
}

/* typo */

p {
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  color: white;
}
